* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  .navbar {
    flex: 1;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  .main {
    width: -webkit-fill-available;

    .stats-section {
      width: 50vw;
    }
    .slider-section {
    }
  }
}
